{% extends "base.html.twig" %}

{% block title %} Bienvenue - {{ parent() }} {% endblock title %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8">
            {% for article in articlesList %}
            <div class="card">
                <div class="card-body">
                    <h3>{{ article.title }}</h3>
                    <div>
                        {% for category in article.categories %}
                            <span>{{ category }}</span>
                        {% endfor %}
                    </div>
                    
                    <div>
                        {% for platform in article.platforms %}
                            <span>{{ platform }}</span>
                        {% endfor %}
                    </div>
                    <p>{{ article.content | truncate(250)| striptags('<br>') | raw }}</p>
                    <span class="text-muted">par : {{ article.author }}</span>
                    <span class="text-muted float-right">le : {{ article.createdAt | date('d/m/Y') }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4 bg-dark" style="width:100%;height: 500px"></div>
    </div>
</div>
{% endblock body %}